@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

::-webkit-scrollbar {
  display: none;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.blinking-dot {
  animation: blink 1s linear infinite;
}

.animation-delay-200 {
  animation-delay: 200ms;
}
.animation-delay-400 {
  animation-delay: 400ms;
}


@keyframes drive-by-blur {
  0% {
    transform: translateX(-150%);
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    transform: translateX(150%);
    opacity: 0;
  }
}

@keyframes fade-in-check-blur {
  0%, 70% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes blur-content {
  0% {
    filter: blur(0px);
  }
  20% {
    filter: blur(4px);
  }
  80% {
    filter: blur(4px);
  }
  100% {
    filter: blur(0px);
  }
}

.animate-drive-by-blur {
  animation: drive-by-blur 3.5s ease-in forwards;
}

.animate-fade-in-check-blur {
  animation: fade-in-check-blur 4s ease-out forwards;
}

.animate-blur-content {
  animation: blur-content 4s ease-in-out forwards;
}
