@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

::-webkit-scrollbar {
  display: none;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.blinking-dot {
  animation: blink 1s linear infinite;
}


@keyframes drive-by {
  0% {
    transform: translateX(-100%);
    opacity: 1;
  }
  100% {
    transform: translateX(1000%); /* Adjust based on container width */
    opacity: 1;
  }
}

@keyframes fade-in-check {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-drive-by {
  animation: drive-by 3s ease-in forwards;
}

.animate-fade-in-check {
  opacity: 0;
  animation: fade-in-check 0.5s ease-out 3s forwards;
}